<div>

  <ng-container *ngIf="!loggedMode">
    <button mat-button [matMenuTriggerFor]="menu">Language</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
        *ngFor="let lang of languages; let i = index;"
        (click)="OnLang(lang.langid)" id="lang_{{lang.langid}}" >{{lang.langtext}}</button>
    </mat-menu>

    <button *ngIf="!loggedMode" mat-stroked-button
            (click)="OnSignup()" routerLink="signup">{{'app.top-bar.signup' | translate}}</button>
    <button *ngIf="!loggedMode" mat-stroked-button
            (click)="OnLogin()" routerLink="signin">{{'app.top-bar.login' | translate}}</button>
  </ng-container>

  <ng-container *ngIf="loggedMode">
    <div class="loggedContainer">
      <button mat-flat-button color="basic">{{'app.top-bar.eshops' | translate}}</button>
      <button mat-flat-button color="basic">{{'app.top-bar.profiles' | translate}}</button>
      <div>
        <app-icon-button [matMenuTriggerFor]="usermenu" color="basic" iconName="account_circle" [buttonText]="uname" ></app-icon-button>
        <mat-menu #usermenu="matMenu">
          <app-icon-button
                  *ngFor="let item of userMenu; let i = index;"
                  (click)="OnUserMenu(item.id)" id="umenu_{{item.id}} " [buttonTextKey]="item.menuTextId" [iconName]="item.iconName"
                  color="basic"></app-icon-button>
        </mat-menu>
      </div>
    </div>
  </ng-container>


</div>
