@import '../../colors';
@import '../../components_common';
:host {
}

.sidenav_container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidenav_menu {

  border-right-width: 1px;
  border-right-color: #777777;

}

.sidenav_content {
  width: 100%;
  padding: 1em 1em 1em 2em;
  border-left-width: 1px;
  border-left-color: $msh-line-color;
  border-left-style: solid;
  margin-left: 1.3em;
}

