<div id="sidenav_container" class="sidenav_container">
  <div id="sidenav_menu" class="sidenav_menu">
    <div *ngFor="let item of sdmenu.items">
      <mat-divider *ngIf="item.type == 2"></mat-divider>
      <app-icon-button *ngIf="item.type == 0" [iconRight]="true"
                       (click)="OnMenu(item.action)" id="{{item.id}}" [buttonTextKey]="item.textKey" [iconName]="item.iconName"
                       color="basic"></app-icon-button>
    </div>
  </div>
  <div id="sidenav_content" class="sidenav_content">
    <router-outlet name="navcontent"></router-outlet>
    <ng-component>Nav Content component</ng-component>
  </div>
</div>
