@import '../colors';
@import '../components_common';
:host {
  height: 60vh;
  display: flex;
}

.signup {
  /*width: 40vw;
  height: 12vh; */
  display: block;
  margin: auto;


  & mat-card-content {
    padding: 33px 33px 51px 33px;
  }

  & mat-form-field {
    width: 40em;
  }

  & button {
    float: right;

  }


  & .error {
    position: absolute;
    left: 33px;
    bottom: 33px;
    color: red;
  }
}

