@import '../colors';
:host {
  height: 100vh;
  display: flex;
}

.signup {
  width: 466px;
  height: 242px;
  margin: auto;
  display: block;
  border-top: 4px solid $comic-menu-link;
  padding: 0;


  & mat-card-content {
    padding: 33px 33px 51px 33px;
  }

  & mat-form-field {
    width: 400px;
  }

  & button {
    float: right;
  }
  & .error {
    position: absolute;
    left: 33px;
    bottom: 33px;
    color: red;
  }
}

