
<div id="application" fxLayout="column" fxFlexFill>
  <div id="header" fxFlex="40px">
    <!-- Title bar, login, register  -->
    <app-top-bar></app-top-bar>
  </div>
  <!-- Page content  -->
  <div id="pageContent" fxLayout="row" style="flex: 1 1 calc(100% - 120px)" fxLayoutGap="32px">

    <div id="leftContent" style="max-width: 3%">

    </div>

    <div id="middleContent" style="min-width: 94%">
      <app-notification-bar></app-notification-bar>
        <router-outlet></router-outlet>
    </div>

    <div id="rightContent" style="max-width: 3%">

    </div>

  </div>
  <!-- footer -->
  <div id="pageFooter" fxFlex="80px">
    footer
  </div>
</div>

