@import "components/colors";

mat-sidenav-content {
  background-color: #ecedf0;
}
.inner-wrapper {
  width: 100%;
  height: 100%;
  &.margin {
    margin-left: 69px !important;
  }
}

#header {
  margin-top: 10px;
  margin-bottom: 10px;
}



:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif
}


::ng-deep mat-card-header {
  background-color: #f6f6f6;
  border-bottom: 1px solid #DADADA;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

::ng-deep mat-card {
  padding: 0;
}

::ng-deep pp-breadcrumbs {
  & ol {
    padding: 0 15px 0 0;
    & li {
      display: inline;
      font-size: 14px;
      color: #c3c3c3;
      &:not(:first-of-type):before {
        content: ' / ';
      }
      & a:visited, a:active, a:hover, a:link {
        color: #c3c3c3;
        text-decoration: none;
      }
    }
  }
}
